# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Firebase local configs
*.local

# --- ENVIRONMENT VARIABLES (important!) ---
.env
.env.*
!.env.example
